.post-page {
  border: 1px solid $color-black;
  padding: 2rem;
  margin-left: 16rem;
  margin-right: 16rem;
  @media (max-width: 700px) {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  margin-bottom: 2rem;
  .post-image {
    display: flex;
    place-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid $color-black;
    padding: 1rem;
  }
  .post-title {
    text-align: center;
  }
  .post-meta {
    display: flex;
    place-items: center;

    &__list {
      display: flex;
      margin: 0 auto;
      &-item {
        margin: 0.25rem;
      }
    }
  }
  .post-content {
    margin-top: 2rem;
  }
}
