.btn {
  background: $color-white;
  color: $color-black;

  border: 1px solid $color-black;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  &.btn-action {
    @include set-background($color-black);
    &:hover {
      background: $color-white;
      color: set-text-color($color-white, $color-black);
    }
  }
  &.btn-confirm {
    border: 1px solid $color-accent;
    color: $color-accent;
    @include set-background($color-accent);
    &:hover {
      background: $color-white;
      color: set-text-color($color-white, $color-accent);
    }
  }
}

.bg {
  &-action {
    @include set-background(#fff);
    border: #000 1px solid;
  }
}

.reply-btn {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: $color-gray;
}

.reply-highlight {
  color: $color-black;
}
