.comment-container {
  //   border: 1px solid $color-gray;
  border-radius: 5px;
  display: flex;
  padding-left: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: 100%;
  &__content {
    display: flex;
    justify-content: right;
  }
}

.comment-meta {
  display: flex;
  &__date {
    margin-right: auto;
    color: $color-gray;
    font-size: 0.75rem;
  }
  .reply {
    margin-right: 0.5rem;
    font-size: 0.75rem;
  }
}

.comments-container {
  border-left: 1px solid $color-primary;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  flex-grow: 1;
}
