.posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
  padding: 2rem;
}

.post-container {
  display: flex;
  place-items: center;
  flex-direction: column;
  &__title {
    margin-top: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__meta {
    margin-bottom: 0.5rem;
  }
  &__chips {
    margin-bottom: 0.5rem;
    & > div {
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
  &__buttons {
    margin-top: auto;
    margin-bottom: 0.5rem;
    .post-button {
      margin-left: 0.5rem;
      min-width: 4rem;
    }
  }
}

.userposts-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-rows: 1fr;

  & > div {
    border: 1px solid $color-black;
  }
}

.post-profile {
  display: flex;
  flex-direction: column;
}
