.posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
  padding: 2rem;
}

.post-container {
  border: 1px solid $color-black;
  display: flex;
  place-items: center;
  flex-direction: column;
  &__title {
    margin-top: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__meta {
    margin-bottom: 0.5rem;
  }
  &__chips {
    margin-bottom: 0.5rem;
    & > div {
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
}
