//variables

$color-white: #fff;
$color-gray: #7e7e7e;
$color-light-gray: #eee;
$color-black: #000;

//Main color palette: "So Many Lost Songs"| Credit: https://www.color-hex.com/color-palette/41166

$color-primary: #051e3e;
$color-secondary: #251e3e;
$color-tertiary: #451e3e;
$color-quaternary: #651e3e;
$color-accent: #851e3e;

$color-update: rgba(214, 176, 220, 0.8);

$color-transparent-black: rgba(0, 0, 0, 0.2);
$color-transparent-white: rgba(255, 255, 255, 0.7);

//Alert colors

$color-success: rgb(63, 191, 63);
$color-update: rgba(208, 159, 255, 0.8);
$color-danger: rgb(191, 63, 63);

//Screen sizes

$max-form-width: 20rem;
$max-width: 90vh;
