//variables

$color-white: #fff;
$color-gray: #7e7e7e;
$color-light-gray: #eee;
$color-black: #000;

//Main color palette: "So Many Lost Songs"| Credit: https://www.color-hex.com/color-palette/41166

$color-primary: #051e3e;
$color-secondary: #251e3e;
$color-tertiary: #451e3e;
$color-quaternary: #651e3e;
$color-accent: #851e3e;

//Alert colors

$color-success: #4bb543;
$color-danger: #ff7070;

//Screen sizes

$max-form-width: 20rem;
$max-width: 90vh;
