@import "./util/variables.scss";
@import "./util/functions.scss";
@import "./util/mixins.scss";

@import "./components/forms.scss";
@import "./components/buttons.scss";
@import "./components/navbar.scss";
@import "./components/posts.scss";
@import "./components/editor.scss";
@import "./components/comment-form";
@import "./components/comment.scss";
@import "./components/settings.scss";
@import "./components/profile.scss";
@import "./components/alert.scss";
@import "./components/categories.scss";
@import "./components/questions.scss";
@import "./components/question.scss";

@import "./pages/post.scss";
@import "./pages/dashboard.scss";
@import "./pages/post-form.scss";
@import "./pages/landing.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", "Source Sans Pro", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: $color-black;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

*:placeholder-shown {
  font-style: italic;
}

textarea {
  resize: none;
}

pre,
code {
  display: inline-block;
  font-size: 1rem;
  background-color: #ebebeb;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid $color-black;
}
