@import "./util/variables.scss";
@import "./util/functions.scss";
@import "./util/mixins.scss";

@import "./components/forms.scss";
@import "./components/buttons.scss";
@import "./components/navbar.scss";
@import "./components/posts.scss";
@import "./components/editor.scss";
@import "./components/comment-form";
@import "./components/comment.scss";
@import "./components/settings.scss";
@import "./components/profile.scss";

@import "./pages/post.scss";
@import "./pages/dashboard.scss";
@import "./pages/post-form.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hind Madurai";
}

body {
  margin: 0;
  font-family: "Hind Madurai", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: $color-primary;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

*:placeholder-shown {
  font-style: italic;
}

textarea {
  resize: none;
}

pre,
code {
  display: inline-block;
  font-size: 1rem;
  background-color: #ebebeb;
}

// [type="file"] {
//   height: 0;
//   overflow: hidden;
//   width: 0;
// }

// [type="file"] + label {
//   border: none;
//   border-radius: 5px;
//   color: #fff;
//   cursor: pointer;
//   display: inline-block;
//   font-size: inherit;
//   font-weight: 500;
//   margin-bottom: 1rem;
//   outline: none;
//   padding: 1rem 50px;
//   position: relative;
//   transition: all 0.3s;
//   vertical-align: middle;

//   &.btn-3 {
//     background-color: $color-primary;
//     border-radius: 3px;
//     overflow: hidden;
//     display: flex;
//     place-items: center;
//     margin-top: 0.75rem;

//     span {
//       display: inline-block;
//       height: 100%;
//       transition: all 0.3s;
//       width: 100%;
//     }

//     &::before {
//       color: $color-white;
//       display: flex;
//       place-items: center;
//       content: "\f382";
//       font-family: "Font Awesome 5 Free";
//       font-weight: 900;
//       font-size: 100%;
//       height: 100%;
//       left: 42.5%;
//       line-height: 2.6;
//       position: absolute;
//       top: -180%;
//       transition: all 0.3s;
//       width: 100%;
//     }

//     &:hover {
//       background-color: lighten($color-primary, 10%);

//       span {
//         transform: translateY(300%);
//       }

//       &::before {
//         top: 0;
//       }
//     }
//   }
// }
